# Flutter/Dart specific
*.dart_tool/
*.flutter-plugins
*.flutter-plugins-dependencies
*.packages
.pub-cache/
build/
# macOS specific
.DS_Store
# Android specific
*.iml
.gradle/
/local.properties
/captures/